/target/
/.classpath
/.project
/.settings/org.eclipse.jdt.apt.core.prefs

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

/.DS_Store
.dbeaver