/target/
/.classpath
/.project
/.settings/org.eclipse.jdt.apt.core.prefs

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

/.DS_Store
.dbeaver
.settings/org.sonarlint.eclipse.core.prefs
.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
target
.cache
dependency-reduced-pom.xml
.project
.classpath
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html